<!DOCTYPE html>
<!--
	TODO: Task 1, Task 2, Task 3
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/styles.css">
		<title>Login</title>
	</head>
	<body>

		<h2>Please Login</h2>

		<form method="POST" data-th-action="@{/login}" data-th-object="${user}">	
		<table>
			<tr>
				<td> 
					<label for="username">Username:</label> 
				</td>
				<td>
					<input type="text" name="username" id="username" size="30" 
							placeholder="Please type in your username" data-th-field="*{username}">
				</td>
				<td>
					<div data-th-if="${#fields.hasErrors('username')}">
						<span data-th-errors="*{username}" data-th-errorclass="error"></span>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<label for="password">Password:</label>
				</td>
				<td>
					<input type="password" name="password" id="password" size="30" 
							placeholder="Please type in your password" data-th-field="*{password}">
				</td>
				<td>
					<div data-th-if="${#fields.hasErrors('password')}">
						<span data-th-errors="*{password}" data-th-errorclass="error"></span>
					</div>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button type="submit">Login</button>
				</td>
			</tr>
		</table>
	</form>

	<!-- To display number of error counts -->
	<div>
		<tr>
			<td>Number of attempts:</td>
			<!-- Code commented as it causes error  -->
			<!-- <td>
				<span data-th-text="*{captcha.counter}"></span>
			</td>  -->
		</tr>
	</div>

	<div>


		<!-- //Use thymeleaf to display captcha if (counter > 0 and counter < 4) 
		
		<table border="1" style="margin-top: 2vh; margin-bottom: 2vh;"> 
						 data-th-if="${#captcha.counter > 0 and captcha.counter < 4}" 
				<thead>
					<tr> 
						 <h2 data-th-text="*{captcha.stringEqn}"></h2> 
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Answer: </td>
						<td> <input type="text" name="result" id="result" size="30" 
							placeholder="Answer" data-th-field="*{captcha.result}"> </td>
					</tr>
				</tbody>
		</table>
		-->
		

	</div>

	</body>
</html>
